<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/images/Ironhack.png">
</div>
<br>
<br>
<h2>Here are some photos from our album</h2>
<br>
<div class="photo-container">
  <div class="wrap-cont">
    <h5>
      <img src="../assets/images/ironhackMadrid.jpeg" alt="Ironhack Madrid">
      <p>Ironhack Madrid</p>
    </h5>
  </div>
  <div class="wrap-cont">
    <h5>
      <img src="../assets/images/ironhackBarcelona.jpeg" alt="Ironhack Barcelona">
      <p>Ironhack Barcelona</p>
    </h5>
  </div>
  <div class="wrap-cont">
    <h5>
      <img src="../assets/images/ironhackMiami.jpeg" alt="Ironhack Miami">
      <p>Ironhack Miami</p>
    </h5>
  </div>
</div>