.champions {
  height: 100%;
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.champion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}