<div>
  <img src="https://www.ecestaticos.com/imagestatic/clipping/d3e/1ea/d3e1ea029b03a372f90ca801867bede4/los-barrios-ricos-de-espana-en-madrid-los-pobres-en-sevilla.jpg?mtime=1456835643" alt="Madrid">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores laboriosam delectus eius repudiandae minus, facere nihil nulla, repellendus commodi laudantium nostrum dolorum modi dolorem laborum temporibus et, provident nisi quia?
  </p>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem dolorem quis sint! Sed praesentium delectus enim ut? Atque inventore sapiente dolor perspiciatis non tenetur officiis. Labore esse placeat ducimus! Corporis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum animi soluta iusto. Neque ex accusamus aspernatur, dolorem totam sunt, similique libero dolores, porro odit quisquam voluptas. Quam fugit id obcaecati?
  </p>
  <app-comments></app-comments>
 </div>
