.allCards{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.champ-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  border:2px solid lightseagreen;
  padding: 40px;
width: 200px;
}

img{
    height: 100px;
    padding: 10px;
}
ul{
    list-style: none;
    margin: 0;

}
li{
    margin: none;
}
.players{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h4{
    margin-bottom:5px;
}