<div>
  <h1>10 animated movies that scored big at the box office</h1>
  <img src="/assets/articlepic.gif" alt="articlepic">

  <p>Big Hero 6 was the big winner of the Academy Award for Best Animated Feature on Oscar night Sunday. The story of an inflatable personal healthcare robot with a heart of gold, it’s already taken in $220 million at the domestic box office, according to Box Office Mojo, making it the 20th highest grossing animated movie of all time.
  All fine and good, but after you adjust box office totals for inflation, its haul is a lot less impressive. Fortune combed through Box Office Mojo’s list of highest-grossing animated movies and adjusted their domestic totals for inflation, and some of the movies that now appear in the top 10 may be surprising. It’s also worth noting that all box office totals are adjusted to 2014 dollars, because the federal Bureau of Labor Statistics, which tracks inflation, doesn’t release its 2015 figures until the end of this week.
  Having said that, Fortune presents a list of the highest-grossing animated movies of all time.</p>
</div>
