<div class="container">
  <h1>Learn to code at Ironhack</h1>
  <img src="http://cambiodigital.com.mx/fotos_noticias/2018/foto_370153_0.jpg" alt="Ironhack-photo">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus molestie vestibulum ligula ac fringilla. Donec odio leo, fermentum a rutrum eget, lobortis non mauris. Fusce mi neque, elementum et urna quis, volutpat eleifend risus. Donec eget ante suscipit, iaculis nisl a, pellentesque enim. Vivamus in odio sem. Nulla vulputate fermentum eros in dictum. Nullam congue interdum orci, ac tempor turpis dictum vel. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Ut ornare odio quam, quis porttitor nisi porta sit amet.
  </p>
</div>
