<div class="comment-wrapper">
    <h2>Comments</h2>
<div class="comment-block">
  <div class="comment-title">Bobby Tables <span class="comment-date">19/07/2018 18:30</span></div>
  <div class="comment-body">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</div>
</div>

<div class="comment-block">
    <div class="comment-title">Jane Doe<span class="comment-date">19/07/2018 18:30</span></div>
    <div class="comment-body">It seems complicated, how much previous experience is required to enroll the course</div>
  </div>

  <div class="comment-block">
      <div class="comment-title">John Malkovitch <span class="comment-date">19/07/2018 18:30</span></div>
      <div class="comment-body">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</div>
  </div>

  <div class="comment-block">
    <div class="comment-title">Jennifer Lawrence <span class="comment-date">12/08/2018 21:30</span></div>
    <div class="comment-body">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</div>
</div>

<div class="comment-block">
  <div class="comment-title">John Malkovitch <span class="comment-date">19/07/2018 11:30</span></div>
  <div class="comment-body">When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</div>
</div>
</div>

<div class="form-wrapper">
  <h4>Add your comment</h4>
  <form>
    <label>Name</label>
    <input>
    <label>Message</label>
    <input>
    
  </form>
</div>