<div class=" main" >
    <h1>Lorem ipsum</h1>
    <img class="picture" src="https://img00.deviantart.net/4803/i/2012/331/a/f/bg_3_by_cananstock-d5mbkoe.jpg">
    <p>Sunt amet aute non id ea exercitation sunt minim duis do magna in. 
        Tempor do pariatur eiusmod tempor cupidatat excepteur et officia. 
        Irure dolore sit incididunt labore ipsum commodo occaecat duis in. 
        Nulla magna do voluptate nulla nostrud exercitation amet occaecat 
        deserunt deserunt mollit est. Est laboris nisi duis veniam culpa 
        ipsum Lorem veniam. Ipsum excepteur mollit ut sint. Ipsum veniam 
        proident tempor nisi.</p>

    <p>Cillum ullamco officia anim id fugiat aute laboris quis irure amet.
        Laboris mollit irure ullamco quis tempor magna dolor velit consectetur 
        dolor fugiat enim excepteur. Incididunt nisi magna eiusmod tempor 
        consequat sunt sunt occaecat ullamco id eu nisi occaecat est. 
        Officia ad ea adipisicing laboris aute. Nulla ipsum pariatur 
        in sint nulla aliquip deserunt. Sint incididunt id culpa amet 
        velit sint ullamco consequat et elit pariatur quis consectetur. 
        Elit sit officia pariatur dolore aliquip ut culpa ullamco in.</p>
    <comments-component></comments-component>
</div>