<h1 class="text-center">Learn how to code with Ironhack</h1>
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="text-center">
      <img src="./assets/images/descarga.jpeg" alt="">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 offset-md-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis egestas tempus urna, id efficitur leo aliquet eget. Proin vulputate enim rutrum diam commodo, ac mattis risus viverra. Vivamus aliquam eros commodo ante viverra, quis accumsan nisi fermentum. Mauris consectetur euismod cursus. Donec posuere libero ut pretium volutpat. Nulla egestas sollicitudin nulla, sed finibus justo semper ac. Phasellus fringilla vestibulum purus quis faucibus. Nam nec auctor tellus, ac fermentum metus. Nunc imperdiet elit in dignissim condimentum. Sed sapien urna, sodales vitae pellentesque ut, pharetra sit amet ipsum. Vivamus velit orci, blandit a efficitur id, volutpat blandit ipsum. Mauris rutrum magna ut quam viverra, id accumsan metus tempor. Phasellus in purus leo. Cras mi purus, porta ut pharetra sit amet, bibendum in ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
  </div>
</div>