img{
    width:300px;
    height:300px;

    
}

.pA2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

li{
    list-style-type: none;
    text-align:center;
}
h1{
    text-align: center;
}