<div class="container">
  <h2>Comments</h2>
  <div class="comment">
    <span class="autor">{{Autor1}}</span><small class="date">{{Date1}}</small>
    <p class="text">{{Text1}}</p>
  </div>
  <div class="comment">
    <span class="autor">{{Autor2}}</span><small class="date">{{Date2}}</small>
    <p class="text">{{Text2}}</p>
  </div>
  <form action="index.html" method="post">
    <div class="form-title">
      <span>Add your comment</span>
    </div>
    <div class="input-tag">
      Name:
    </div>
    <input type="text" name="Name" value=""><br>
    <div class="input-tag">
      Description:
    </div>
    <input class="desc-input" type="text" name="Description" value="">
    <div class="button-div">
      <button type="button" name="button">Comment</button>
    </div>
  </form>
</div>
