<div class="flex">
  <h2>Comments</h2>
  <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti tempore, voluptas recusandae sequi repellat tenetur
    doloribus aut nostrum, iusto, in facere iste assumenda omnis temporibus magnam dignissimos perferendis dicta! Iste.</h4>
  <p>by someone who speaks latin</p>
  <br>
  <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur officia ducimus error, soluta sunt veniam ratione? Enim
    recusandae eum ratione ipsum nulla suscipit, voluptate tempore corrupti, neque, atque incidunt! Porro.</h4>
  <p>by another someone who also speaks latin</p>

  <br>
  <form action="" method="">
    <h2>ADD YOUR COMMENT</h2>
    <br>
    <label>
      Your name
    </label>
    <input type="text">

    <br>
    <br>
    <label>
      Your comment
    </label>
    <textarea placeholder="What do you have to say"></textarea>

    <br>
    <button>SEND</button>
  </form>
</div>