<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="page-header">
        <h1>
          <small class="pull-right">45 comments</small> Comments </h1>
      </div>
      <div class="comments-list">
        <div class="media">
          <p class="pull-right">
            <small>5 days ago</small>
          </p>
          <a class="media-left" href="#">

          </a>
          <div class="media-body">

            <h4 class="media-heading user_name">Baltej Singh</h4>
            Great Job !!!

            <p>
              <small>
                <a href="">Like</a> -
                <a href="">Share</a>
              </small>
            </p>
          </div>
        </div>
        <div class="media">
          <p class="pull-right">
            <small>5 days ago</small>
          </p>
          <a class="media-left" href="#">

          </a>
          <div class="media-body">

            <h4 class="media-heading user_name">Baltej Singh</h4>
            Amazing Raúl!!.

            <p>
              <small>
                <a href="">Like</a> -
                <a href="">Share</a>
              </small>
            </p>
          </div>
        </div>
        <div class="media">
          <p class="pull-right">
            <small>5 days ago</small>
          </p>
          <a class="media-left" href="#">
          </a>
          <div class="media-body">

            <h4 class="media-heading user_name">Baltej Singh</h4>
            Wow! this is really great.

            <p>
              <small>
                <a href="">Like</a> -
                <a href="">Share</a>
              </small>
            </p>
          </div>
        </div>
        <div class="media">
          <p class="pull-right">
            <small>5 days ago</small>
          </p>
          <a class="media-left" href="#">
          </a>
          <div class="media-body">

            <h4 class="media-heading user_name">Baltej Singh</h4>
            OOOOhh!! You are the best One !

            <p>
              <small>
                <a href="">Like</a> -
                <a href="">Share</a>
              </small>
            </p>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="containerA">
  <p>Add your comments:</p>
  <form>
    <div class="form-group">
      <label for="usr">Name:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">Comment:</label>
      <input type="text" class="form-control" id="pwd">
    </div>
  </form>
  <button id="myBtn" onclick="javascript:alert('Your comment is rubbish!')">Send</button>
</div>