<div class="comments-bg">
  <h1 class="comments-title">{{title}}</h1>
</div>

<div class="flex-container">
  <div class="user">
    <h2>{{username1}}</h2>
    <p>{{comment1}}</p>
  </div>
  <div class="user">
    <h2>{{username2}}</h2>
    <p>{{comment2}}</p>
  </div>
  <form action="/action_page.php">
    First name:
    <br>
    <input type="text" name="firstname" value="Mickey">
    <br> Last name:
    <br>
    <input type="text" name="lastname" value="Mouse">
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>

</div>