<h1 style="text-align:center">COMMENT SECTION</h1>
<div style="border: 2px solid black" *ngFor="let lol of commentsArray">
  <h2>{{lol.name}}</h2>
  <p>{{lol.description}}</p>
</div>
<div style="border: 2px solid black">
  <h3>add your comment</h3>
  <form action="http://localhost:4200">
    <br>Name:
    <br>
    <input type="text" name="name" value="">
    <br>
    <br> Description:
    <br>
    <textarea name="description" rows="10" cols="50"></textarea>
    <br>
    <br>
    <input type="submit" value="Submit">
  </form>
</div>