<h1>Comments!</h1>

<div> 
  <h2>A person <small>A time and a place</small></h2>
  <p>How do you code I'm so lost pls help</p>
</div>

<div>
  <h2>Another person <small>A time and a place</small></h2>
  <p>Why are you on the cool stair building I like cool stairs</p>
</div>

<form action="">
  <h1>Add your comment!</h1>
  <label for="name">Name</label>
  <input id="name" name="name" type="text">

  <label for="comment">Comment</label>
  <input id="comment" name="comment" type="text">

  <button>Comment!</button>
</form>