<div class="container">
  <h3>Comments</h3>
    <div>
      <h4>Juan Carlos</h4>
      <p>Random comment</p>
    </div>

    <div>
      <h4>Margarita</h4>
      <p>Hola</p>
    </div>
    <div>

      <form action="none">
        <p class="commentTitle">Add your comment</p>
        <div>
          <p>Name:</p>
          <input type="text">
        </div>
        <div>
          <p>Description</p>
          <textarea cols="30" rows="4"></textarea>
        </div>
        <button>Submit</button>
      </form>
    </div>
</div>

