<section class="container">
  <div class="div-img">
    <img src="http://e01-expansion.uecdn.es/assets/multimedia/imagenes/2017/06/20/14979611169142.jpg" alt="" class="iron-img">
    <h3>Ironhack Barcelona</h3>
  </div>
  <div>
    <img src="http://cdn2.ticbeat.com/src/uploads/2017/09/ironhack-fundacion-universia-becas-it-810x422.jpg?x32709" alt="" class="iron-img">
    <h3>Ironhack Madrid</h3>
  </div>
  <div>
    <img src="https://secure.meetupstatic.com/photos/event/c/5/4/1/600_468050497.jpeg" alt="" class="iron-img">
    <h3>Ironhack Miami</h3>
  </div>
</section>