h2 {
  text-align: center;
}

.miyazaki {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.totoro {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.mononoke {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.ponyo {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
}

.museum {
  width: 60%;
  padding-left: 250px;
}

.comments {
  width: 60%;
  padding-left: 250px;

}
