<div class="comments">
  <h1>Comments</h1>
</div>
<div class="comm1">
  <h2>Comment by RandomUser4</h2>
  <p>Diodeno ese hombree condemor ese hombree está la cosa muy malar diodeno a peich no te digo trigo por no llamarte Rodrigor.
    La caidita condemor jarl al ataquerl caballo blanco caballo negroorl no puedor.</p>
</div>
<div class="comm2">
  <h2>Comment by TheLegend27</h2>
  <p>Sexuarl a gramenawer por la gloria de mi madre te voy a borrar el cerito amatomaa va usté muy cargadoo mamaar ese pedazo de apetecan ese pedazo de jarl. </p>
</div>  
<div class="comment-box">
  <h2>Leave a comment here</h2>
    <div class="space"></div>
</div>