.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.component__container {
    width: 80%;
    margin: 0 auto; 
}
.component__comments {
    background: rgb(187, 187, 187);
    border-radius: 20px;
    padding: 0 10px;
}
img {
    border: 1px solid rgba(0,0,0,0.2)
}
