<div class="form-box">
<h2> Comments </h2>

<p class="comment-name"> Bobby Tables </p>
<p class="comment-text"> It seems quite complicated, How much experience is required? </p>
<hr>
<p class="comment-name"> Ironhack School </p>
<p class="comment-text"> We will give you a pre-work that will help you to face the course without any problem! </p>
<hr>
<br>

<form class="ironhack-form">
  <h3> Add your comment </h3>
  <br>
  <br>
  <label for="name-input"> Name </label><br>
  <input id="name-input" type="text" placeholder="Name">
  <br>
  <br>
  <label for="description-input"> Description </label><br>
  <textarea id="description-input" type="text" placeholder="Description"></textarea>
</form>
</div>
