<hr><p class="header">Iteration 2</p><hr>

<div class="container">
  <div class="row">
    <div class="col-xs-12 header">
      <h1 class="centered"> Learn how to code with Ironhack </h1>
        <img class="img-rounded"src="./assets/photos/ironhack.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">

    </div>
    <div class="col-xs-7 paragraph">
      Looking to make a transition into a technical career? Ironhack's Web Development Bootcamp is designed to help you acquire the right set of skills to land a job as a junior developer or get started in another technical role.
    </div>

    <div class="col-xs-2">

    </div>
  </div>

</div>
