<div>
<h1>
  Comments
</h1>
</div>

<div class="comments">
<h2>
 Javier Buitrago
</h2>

<p>
  Bulldogs love to cuddle
</p>
</div>
<div class="commentbox">
<div id="comment_form">
  <h3> add your comment </h3>
	<div>
		<input type="text" name="name" id="name" value="" placeholder="Name">
	</div>
	<div>
		<input type="email" name="email" id="email" value="" placeholder="Email">
	</div>
	<div>
		<input type="url" name="website" id="website" value="" placeholder="Website URL">
	</div>
	<div>
		<textarea rows="10" name="comment" id="comment" placeholder="Comment"></textarea>
	</div>
	<div>
		<input type="submit" name="submit" value="Add Comment">
	</div>

</div>
</div>
