<div class="comments-div"> <h2> Comments </h2> </div>

<div class="comment-section">
<h3 class="comment-head"> Bobby Tables </h3>
<p class="comment-text"> It seems quite complicated, how much previous experience is required? </p>

<h3 class="comment-head"> Ironhack School </h3>
<p class="comment-text"> We give you prework to do at home that'll help you in the course. </p>
</div>

<div class="form">
<h3> Add Your Comment </h3>
<form method="post" action="">
  <label for="author-input"> Name </label>
  <input  id="author-input" name="reviewAuthor" type="text">
  <br>

  <label   for="content-input"> Description </label>
  <textarea id="content-input" name="reviewContent"></textarea>
  <br>

  <button> Comment </button>
</form>
</div>
