.nba {  
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
align-items: flex-start;
}


.nba img {
  height: 200px;
}
.megadiv {
  display: flex;
}

