<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <header>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <div class="header-img">
      <img src="https://i.pinimg.com/originals/ae/32/b4/ae32b456c26766f2a2085cac59c496f1.jpg">
    </div>
    <div class="text-container">
      <p>Con diez cañones por banda, viento en popa a toda vela, no corta el mar, sino vuela, un velero bergantín; bajel pirata
        que llaman por su bravura el Temido en todo el mar conocido del uno al otro confín.</p>
    </div>
  </header>

  <div>
    <hr>
    <p>Comments</p>
    <hr>
  </div>

  <div class="feed-container">
    <div class="comments-container">
      <app-comments></app-comments>
      <app-comments></app-comments>
      <app-comments></app-comments>
    </div>
    <div class="form-container">
      <form>
        <label>Name:</label>
        <br>
        <input class="name" type="text">
        <br>
        <br>
        <label>Description:</label>
        <br>
        <input class="description" type="text">
        <br>
        <br>
        <input class="comment-btn" value="Comment" type="submit">
      </form>
    </div>
  </div>
</div>
