<h2>Comments</h2>

<div class="center-comments">
  <h3>Wonderful</h3>
  <p>It was an incredible result.</p>
  <h3>Awesome and boring</h3>
  <p>Dortmund played well just for a while.</p>
  <h3>Imagine Messi playing this game</h3>
  <p>Messi could have destroyed the other team.</p>
</div>

<div class="center-form">
  <h4>Add your comment</h4>
  <form action="" >
    <label for="">Name:</label><br>
    <input type="text"><br><br>
    <label for="">Description:</label><br>
    <input type="text"><br>
    <button type="submit">Comment</button>
  </form>
</div>
