<div class = "champs">
<div class = "Champ">
  <h1>2015-16</h1>
  <h2>Cleveland Cavaliers</h2>
  <img src ="https://media2.giphy.com/media/l1BgRrbi7uwztEHpm/giphy.gif">
  <ol>
    <li>Lebron James</li>
    <li>Kyrie Irving</li>
  </ol>

</div>
<div class = "Champ">
  <h1>2014-15</h1>
  <h2>Golden State Warriors</h2>
  <img src ="https://media2.giphy.com/media/l1BgRrbi7uwztEHpm/giphy.gif">
  <ol>
    <li>Steph Curry</li>
    <li>Andre Igadaula</li>
  </ol>
</div>
<div class = "Champ">
  <h1>2013-14</h1>
  <h2>San Antonio Spurs</h2>
    <img src="https://media3.giphy.com/media/xYYcgwpC3s9NK/giphy.gif">
    <ol>
      <li>Banard Leonard</li>
      <li>Tim Duncan</li>
    </ol>
</div>
</div>
