
  <h1>{{title}}</h1>
<div>
  <img style="width: 500px; height: auto" src="{{img}}" alt="">
</div>
<br>
<p class="center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum beatae aliquid, eveniet architecto deleniti, perspiciatis laboriosam maxime itaque, quisquam culpa nostrum eius pariatur dignissimos fugit. Ratione officiis eum id quas. Lorem ipsum dolor
  sit amet, consectetur adipisicing elit. Laborum beatae aliquid, eveniet architecto deleniti, perspiciatis laboriosam maxime itaque, quisquam culpa nostrum eius pariatur dignissimos fugit. Ratione officiis eum id quas.</p>

<app-comments></app-comments>
