.champContainer{
    display: flex;
flex-direction: row;
justify-content: space-around;
align-content: center;
margin: 70px 180px;
}

.champCard{
      text-align: center;
      align-items: center;
      align-content: center;
}

.champCard li{
    text-align: left;
}