<div class="comments-container">

<h3>{{title}}</h3>

<div *ngFor="let c of comments" class="comment">
    <h4>{{c.poster}}</h4>
    <p>{{c.text}}</p>
</div>

<form class="form" id="comment-form">
  <h4>Add your comment</h4>
  <div id="field-one" class="field">
    <label for="name">Nombre:</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div id="field-two" class="field">
    <label for="comment">Comentario</label>
    <textarea rows="10" cols="50" class="form-control" form="comment-form"></textarea><br>
    <input type="submit" value="Submit" class="button">
  </div>
</form>
</div>