<div>
  <h1>{{title}}</h1>
  <img src="{{image}}" alt="photo">
  <p>{{decrip}}</p>

</div>

<div>
  <h3>Comments</h3>
  <div id="comment-box">
    <h4>Jose Arjona</h4>
    <h6>Mon 06/14/18</h6>
    <p>I like eggs!</p>
  </div>
  <div id="comment-box">
    <h4>Dali Rojas</h4>
    <h6>Mon 06/14/18</h6>
    <p>I like huevos!</p>
  </div>
<br>
<form action="/submit">
  <textarea name="Comments" id="comment" cols="100" rows="10"></textarea>
  <br>
  <input type="button" value="Submit">
</form>
</div>