<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ bigTitle }}!
  </h1>
  <div class="card mb-2">
    <img class="card-img-top" src="{{image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{descr}}</p>
      <p class="card-text"><small class="text-muted"><a href="https://www.politico.com/story/2018/05/14/emails-white-house-interfered-with-science-study-536950">This is a Politico article</a></small></p>
    </div>
  </div>

  <app-other></app-other>



  
  

