<!-- <h2> <p> main-component works! </p> </h2> -->

<div> <h2>  "{{text}}" </h2> </div>
  <div class="cuadro"> 
    <img src="{{img}}" alt="imagen"> <h1> Brian May, guitarrista de Queen, <br/> colabora en la exploración de un asteroide </h1>
  

<div class="art-gen">
  <p class="art">
      
    El guitarrista de Queen, Brian May, es astrofísico y en ocasiones colabora con iniciativas de investigación. <br/>
    Ahora lo ha hecho con la misión japonesa Hayabusa 2, que explora el asteroide Ryugu.<br/>
    
    Brian May saltó a la fama como guitarrista de Queen, pero su faceta de científico no es tan conocida. <br/>
    El músico británico se doctoró en Astrofísica por el Imperial College en 2007, completando así una tesis que había <br/>
    abandonado tres décadas antes al unirse a la banda de Freddie Mercury. Desde entonces su trabajo y sus colaboraciones <br/>
    en investigación son cada vez más destacadas. Ahora, según ha explicado la Agencia Aeroespacial de Japón (JAXA), <br/>
    May ha apoyado a la misión Hayabusa 2 en la exploración del asteroide Ryugu.<br/>

  </p>
  </div>
</div>
