<section>
  <article class="article">
    <div class="photo"></div>
    <h3>{{title}}</h3>
    <p class="description">{{description}}</p>
  </article>
  <article class="comments">
    <h4>{{comments}}</h4>
    <p>{{post}}</p>
    <p>{{post}}</p>
    <p>{{post}}</p>
    <p>{{post}}</p>
    <p>{{post}}</p>
    <p>{{post}}</p>
    <p>{{post}}</p>
    <p>{{post}}</p>
    <form class="form-post" action="#" method="post">
      <input type="text" name="insert-post" placeholder="Add your comment">
      <input type="submit">
    </form>
  </article>
</section>
