<br>
<h3>Comentarios</h3>
<br>
<div class="" *ngFor="let comment of comments">
  <p><b>{{comment.creator}}</b>   {{comment.date}}</p>
  <p>{{comment.content}}</p>
  <br>
</div>
<br>
<form class="" action="index.html" method="post">
  <h4>Add your comment</h4>
  <label for="name">Name:</label><br>
  <input type="text" name="name" value=""><br><br>
  <label for="description">Description:</label><br>
  <input type="text" name="description" value=""><br><br>
  <input type="submit" name="" value="Comment">
</form>
