
<div id="comment-container">
  <h3>Comments</h3>
  <h5>Bobby</h5> <p>23/7/18</p>
  <p>How much previous experience is required to enroll the bootcamp</p>
  <h5>Ironhack</h5> <p>23/7/18</p>
  <p>
    We give you a prework, that you have to do at home, that will help you to face the course without any problem
  </p>
  <div id="form-container">
    <form action="#">
      <p>Add your comment</p>
      <p>
        Name:
      </p>
        <input type="text" name="name">
      <p>
        Description:
      </p>
        <input type="text" name="comment" id="comment">
        <br>
        <button id="btn" type="submit">Comment</button>
    </form>
  </div>
</div>