<div class="commentsArea">
<h3 class="commentHeading">{{title}}</h3>
<div class="commentsList">
  <ul>
<li class="wholeComment" *ngFor="let comment of arrayOfComments">
  <div class="nameDate">
<h4 class="username">{{comment.username}}</h4>
<h5 class="date">{{comment.date}}</h5>
</div>
<p class="comment-text">{{comment.text}}</p>
</li>
  </ul>
<h4 class="usernames"></h4>

</div>
</div>
<div class="formDiv">
<form class="formComment" action="#">
<strong>Add your comment</strong>
  <label for="">Name:</label>
<input #authorInput type="text">
<label for="">Comment:</label>
<textarea  #commentInput cols="30" rows="10"></textarea>
<button (click)="addComment(authorInput, commentInput)">Submit</button>
</form>
</div>

<input [(ngModel)]="author1" type="text">
<h3>{{author1}}</h3>