<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h4 class= "comments-title">Comments</h4>


  <div class= "comment-box">
    <p>Add Your Comment</p>

    <label for="name">Name: </label>
    <input type="text" name= "name">

    <label for="description">Description: </label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>

    <button id = "submit-comment">Submit</button>
  </div>

</body>
</html>
