<div class="container">
  <div class="alert alert-dark" role="alert">
    Comments
  </div>
  <div *ngFor="let comment of comments">
    <div class="row">
      <div class="col-md-12">
        <strong>{{ comment.name }}</strong>
        <span class="pull-right"> 10 days ago</span>
        <p>
          {{ comment.description }}
        </p> 
      </div>
     </div>
  </div>
</div>

<div class="container"> 
  <div class="alert alert-dark" role="alert">
    Add your comment
  </div>
  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="name">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>
</div>