<h3>{{title3}}</h3>
<div class="comment1">
  <span class="nombre">{{comment1}}</span>
  <p class="parrafo">{{commentp1}}</p>
</div>
<div class="comment2">
  <span class="nombre">{{comment2}}</span>
  <p class="parrafo">{{commentp2}}</p>
</div>

<div class="form">
  <h3>Add your comments</h3>
  <div class="form-name">
    <div class="name"><label>Name:</label></div>
    <input type="text">
  </div>
  <div class="form-description">
    <div class="description"><label>Description:</label></div>
    <input type="textarea">
  </div>
  <button class="form-button">Comment</button>
</div>
