<h1>Learn how to code with Ironhack</h1>
<img src='http://via.placeholder.com/700x350'>
<p>Lemme hear everybody say hey-yo! All the ladies say yeaaah! Everybody over thirty do this with your hand! 
  Dont mind those stare goblins. Do you know how many characters there are in the Simpsons Morty? 
  There's like a-a billion characters, M-Morty. There was an episode where Former President BUSH was their neighbor! 
  You ask alotta questions Morty, not very charismatic of you.</p>

<app-comments-component></app-comments-component>