<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
  <img src="https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
    alt="">
  <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet faucibus tempor. Duis ac rutrum nisl. Vivamus ullamcorper
          tempus lectus, ut fermentum metus tincidunt aliquet. Duis pulvinar lectus augue, eleifend placerat enim gravida quis.
          Suspendisse potenti. Nam bibendum vel risus fringilla venenatis. Cras lacinia, nunc et laoreet luctus, sapien arcu molestie
          ipsum, non pretium nisl tortor et mi. Quisque ligula velit, malesuada at consectetur a, dignissim quis dolor. Morbi vel
          sapien non massa elementum sagittis. Nunc feugiat at ex in fringilla. Aenean non varius tortor. Nam quam urna, varius
          eu semper ut, vulputate fermentum diam.
      
        </p>
  </div>
  
</div>

<app-comments></app-comments>