<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <img src="https://www.w3schools.com/w3images/lights.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et purus imperdiet, 
            tincidunt augue quis, eleifend justo. Vestibulum ac neque bibendum, aliquam eros sed, 
            faucibus lectus. Aenean pretium finibus tortor, ac ultricies ante mollis sit amet. 
            Fusce sit amet vestibulum augue. Nunc in nulla eu magna ultricies eleifend.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <img src="https://www.w3schools.com/w3images/nature.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>
            Pellentesque quis scelerisque augue, ut sagittis velit. Nam bibendum feugiat posuere. 
            Mauris consectetur, lorem pretium sagittis consectetur, leo dolor egestas ligula, vel 
            aliquet odio magna vel augue. Nunc ultricies nec erat eu facilisis. Sed gravida scelerisque
            dignissim. Duis molestie eu diam sit amet pellentesque.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <img src="https://www.w3schools.com/w3images/fjords.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>
            Aenean fermentum tortor mi, sit amet hendrerit nunc accumsan quis. Vivamus commodo, 
            tellus iaculis consectetur efficitur, libero odio congue purus, quis blandit ipsum lorem 
            non ligula. Donec pharetra nibh quis risus sagittis molestie. Duis posuere consectetur 
            sem, et elementum nibh suscipit in.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
