.comments {
  width: 60%;
  margin: 60px auto;
}

h3 {
  background-color: grey;
  border-radius: 20px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

.metadata {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 60%;
  margin: 60px auto;
  background-color: lightgray;
  border-radius: 10px;
  padding: 30px;
}
