<div class="comments">
  <h3>Comments</h3>

  <ul>
    <li *ngFor="let oneComment of comments">
      <div class="metadata">
        <h4>{{oneComment.author}}</h4>
        <p>{{oneComment.date}}</p>
      </div>
      <p>{{oneComment.content}}</p>
    </li>
  </ul>

  <form>
    <h4>Add Your Comment</h4>
    <label for="name">Name</label>
    <input type="text" id="name">

    <label for="description">Description</label>
    <input type="textarea" id="description">

    <button>Comment</button>
  </form>
</div>