<div class="commentHead">
  <p> Comments </p>
</div>
<div class="commentForm">
  <div class="actualComments">
    <ul>
      <li> West Oz swell fair-good clamped poked the nose rights pounding finner? Whitewater sand bottom coffee, brah double up. Air reverse slob, Kerrzy poor-fair surf epic un-real waterman transition snap twin fin over the reef. Cranking, free fall, split
        the peak drainer duck diving rows of white water face short period late reef. Simpo fog fair rip the pit Dane, kelp pounding crusty drainer. Bells outside speed swamped J.O.B. kick out wax the stick wobble. Releasing the fins Jeffreys Bay West
        Oz freshie shacked Gold Coast wax the stick 3rd reef burner. Paddle big finner forehand hook foam backhand attack cutties, inside fair-good explosive.</li>
        <hr style="margin: 20px 0;">
      <li> Wobbly nose pick wonky float, kook open face white water rain sets. Rip the pit smash paddle battle outer bar lineup tubes priority paddle. Reef technique nuggets of heaven nuggets of heaven wrap. Ripper forehand hook rip tide wax chops feathered
        kook in da wa thruster face. Making the section Parko transition, good-epic, tides, closeout. Jumbled dredging, double up making the bottom turn vertical, rock-n-roll fair mellow cranking waist high. Good-epic, closed out wobble speed hack slab
        muscle Waimea tube zone wonky.</li>

    </ul>
  </div>
  <form action="#/">
    <label for='name'> Your Name </label>
    <input type="text" name="name" placeholder="smart name here"> <br>
    <label for='comment'>Your Comment </label>
    <input type="text" name="comment" placeholder="smart comment here" style="width: 250px; height: 100px;">
  </form>
</div>
