<div class="comments">
  <h2>Comments</h2>
  <div>
    <span><strong> Andreu Puyol </strong></span>
    <span> 07/19/2018 </span>
    <span>@ 21:29 </span>
    <p>Animal Abuse. Visca Catalunya!</p>
  </div>
  <div>
    <span><strong> Fernando Garcia </strong></span>
    <span> 07/19/2018 </span>
    <span>@ 22:05 </span>
    <p>Es una tradicción. Y escribe en castellano que te entienda!</p>
  </div>
</div>


<form>
  <h3>Add Comment</h3>
  <p>Name</p>
  <input type="text" name="name" required />
  <p>Description</p>
  <input type="text" name="comment" required /><br>
  <button type="submit"> Comment </button>
</form>