.comments-component{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header{
    background-color: #f0f0f0;
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding-left: 20px;
    font-weight: bold;
    /* justify-content: center; */
}

