.cuadrado{
  margin: auto;
}
// .comentarios{
//   background-color: gray;
// }
.par{
  background-color: grey;
}
.impar{
  background-color: blue;
}
.primero{
  background-color: red;
}
.ultimo{
  background-color: green;
}