<div class="alert alert-dark" style="margin-top: 20px">
  <h4><b>Comments</b></h4>
</div>
<div class="row justify-content-center">
  <div class="col-11">
    <div class="comment">
      <div class="comment-name"><b>Bobby Tables</b><small> 19/07/2016 19:30</small></div>
      <div class="comment-body">
        <p>It seems difficult, do you need previous experience?</p>
      </div>
    </div>
    <div class="comment">
      <div class="comment-name"><b>Ironhack</b><small> 21/07/2016 19:30</small></div>
      <div class="comment-body">
        <p>With the prework, you will be ready</p>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <div class="bg-light" style="padding: 20px">
      <h6>Add your comment</h6>
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>