<h2>Comments</h2>

<div class="comments-content">

  <div class="comments-header">
    <h3>Bobby Tables <span>19/07/2018 19:30</span></h3>
    <p>It seems quite complicated, how much previous experience is required to enroll the course?</p>
  </div>  
  
  <div class="comments-header">
    <h3>Ironhack School <span>19/07/2018 20:35</span></h3>
    <p>We give you a pre-work, that you have to do at home, that will help you to face the course without any problem :)</p>
  </div>

</div>

<div class="comment-box">
  <h4>Add your comment</h4>
  <form action="">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="your name" name="name">
    
    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10"></textarea>

    <button type="submit">Comment</button>
  </form>

</div>