h1 { clear: both; }

.photo-list { 
  display: block;
  list-style: none; 
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 300px;
}

.photo {
  float: left;
  height: 250px;
  width: auto;
  margin-left: 20px
}

.photo:first-child { margin: 0; }
.photo > img { 
  display: block; 
  height: 250px;
  width: auto;
}