<div class="comments-header">
  <h3>Comments</h3>
</div>
<div class="comment">
  <h4>Jim</h4>
  <p>{{date}}</p>
  <p>Chickens Can't Fly Everyone Knows That</p>
</div>
<div class="comment">
    <h4>Bob</h4>
    <p>{{date}}</p>
    <p>It seems complicated to understand but it's not, chickens can't fly. This is fake news.</p>
</div>
<div class="form-container">
  <h5>Add Your Comment</h5>
  <div class="form-input">
    <label for="name">Name:</label>
    <input type="text" name="name">
  </div>
  <div class="form-input">
    <label for="description">Description:</label>
    <textarea name="description" ></textarea>
  </div>
  <div class="form-input">
    <button>Comment</button>
  </div>
</div>
