<h1>Learn to Code with Ironhack</h1>
<img src="https://media.giphy.com/media/jiv3km2dt7Fg4/giphy.gif" alt="">
<p>
  text text text text text text text text text text text text text text text text text text text
  text text text text text text text text text text text text text text text text text text text text text text text text
  text text text text text text text text text text text text text text text text text text text text text text text text
  text text text text text text text text text text text text text text text text text text text text text text text
  text text text text text text text text text text text text text text text text text text text text text text text
</p>
<div class="comments-without-a-form">
  <div class="comment-div" *ngFor="let com of comments">
    <span class="author">{{ com.author }}</span>
    <span class="date">{{ com.date }}</span>
    <p class="message">{{ com.message }}</p>

  </div>
</div>
