<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://media.giphy.com/media/3ov9jCKGqeBAUGd596/giphy.gif">
</div>

<h2>TGIF</h2>

<p>
  Lorem ipsum dolor amet wayfarers woke occaecat pug. Meh next level fashion axe quinoa copper mug skateboard. Lorem tote bag venmo before they sold out, salvia polaroid roof party viral ea. Reprehenderit tacos exercitation flexitarian tattooed id. Echo park nisi hella scenester lomo listicle taxidermy ex eu tumeric kale chips irure mollit wolf. Single-origin coffee authentic vice af meggings narwhal subway tile lomo la croix.
</p>

<p>
  Ex distillery vegan freegan seitan. Raw denim jean shorts microdosing franzen palo santo, ullamco post-ironic laborum ut. Activated charcoal magna et, craft beer ad celiac meh fugiat palo santo freegan shaman. Activated charcoal tumblr quinoa celiac, distillery polaroid helvetica voluptate quis ennui lorem hella yr tilde before they sold out. Tousled biodiesel fanny pack pork belly, meggings street art officia readymade bespoke vape in dolore celiac commodo letterpress. Occaecat cillum single-origin coffee iPhone succulents, hot chicken deep v austin disrupt PBR post-ironic freegan.
</p>

<p>
  Oh. You need a little dummy text for your mockup? How quaint.
</p>

<p>
  I bet you’re still using Bootstrap too…
</p>

<comments></comments>
