<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand" href="#">
    <h3>
      {{title}}
    </h3>
  </span>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Main Menu
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.ironhack.com" target="_blank">About Ironhack</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-link fa fa-github fa-2x" href="https://github.com/polgasull" target="_blank"></a>
    </span>
    <span class="navbar-text">
      <a class="nav-link fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/pol-gasull-navarro/" target="_blank"></a>
    </span>
    
  </div>
</nav>
