.header {
  text-align: center;
}

.paragraph {
  text-align: left;
  justify-content: center;
  margin: 35px 0;
  font-size: 18px;
}

.comments {
  background-color: #cacecb;
  border-radius: 25px;
  padding:10px;
}

.eachComment {
  margin:50px 0;
}

.author{
  font-size: 20px;
  font-weight: bolder;
}

.text{
  font-size: 18px;
  letter-spacing: 2px;
}

#comment-box {
  background-color: #dbd3c9; ;
}
