<p>
  articulo works!
</p>
<div>
<h1>Ari game plays</h1>
<img src="{{ari}}" alt="">
<p>
  Droga, según el diccionario de la Real Academia Española, es cualquier “sustancia mineral, vegetal o animal, que se emplea en la medicina, en la industria o en las bellas artes”. En su segunda acepción, droga es cualquier “sustancia o preparado medicamentoso de efecto estimulante, deprimente, narcótico o alucinógeno.”

Según la Organización Mundial de la Salud (OMS), droga es toda sustancia que introducida en el organismo por cualquier vía de administración, produce de algún modo una alteración del natural funcionamiento del sistema nervioso central del individuo y además es susceptible de crear dependencia, ya sea psicológica, física o ambas.

También, según la OMS, las sustancias psicoactivas, conocidas más comúnmente como drogas, son sustancias que al ser tomadas pueden modificar la conciencia, el estado de ánimo o los procesos de pensamiento de un individuo. Los avances en la neurociencia nos han permitido conocer mucho mejor los procesos físicos mediante los que actúan estas sustancias.

Dentro de estas definiciones se encuentran todas las sustancias psicoactivas, sean legales (alcohol, tabaco, fármacos hipnosedantes …) o estén consideradas ilegales por las convenciones y tratados sobre sustancias psicotrópicas, que incluyen en sus listas, entre otras muchas, al cannabis, la cocaína, las anfetaminas y la heroína.

En los últimos años se asiste a la emergencia de nuevas sustancias (NPS en sus siglas en inglés y NSP en español) que, teniendo efectos psicoactivos, no están incluidas en la Convención de 1961 ni en la de 1971, por lo que su producción y consumo, pese a sus posibles y muchas veces graves efectos adversos, no son ilegales. Son sustancias, podría decirse, a-legales.

Por otra parte, las principales drogas legales -el tabaco y el alcohol- son causa importante de mortalidad y discapacidad en los países desarrollados; por todo ello, podemos decir que la legalidad o ilegalidad de las drogas no se corresponde con su posible peligrosidad.
</p>
</div>