<!--The content below is only a placeholder and can be replaced.-->
<div class="mainComponent">
  <header>
    <h1>
      Welcome to {{ title }}!
    </h1>
    <div class="header-img">
      <img src="https://www.google.es/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjxoLTYo7LZAhWBNhQKHdzjA6QQjRwIBw&url=http%3A%2F%2Fwww.bbc.com%2Fmundo%2Fespecial%2Fvert_fut%2F2016%2F05%2F160428_vert_deportes_salud_lo_negativo_de_ejercicios_abdominales_yv&psig=AOvVaw2xZGZYEOq8kCFD0FjqnOvX&ust=1519140004641796">
    </div>
    <div class="text-container">
      <p>Calamari ben chewbacca jango sebulba luke greedo moff jinn. Mara moff aayla k-3po twi'lek. Tatooine jango moff kenobi mon moff baba yoda. Ponda jabba jango hutt skywalker gamorrean. Baba boba boba boba ahsoka jabba. Dagobah organa luke mustafar yavin hutt mon darth secura. Boba darth utapau darth. Darth luke jawa grievous. Dantooine bespin yavin skywalker vader organa qui-gon darth. Kenobi binks yoda moff bothan vader hutt mothma. Antilles dantooine lando moff kenobi binks coruscant darth ventress.</p>
    </div>
  </header>

  <div>
    <hr>
    <p>Comments</p>
    <hr>
  </div>

  <div class="feed-container">
    <div class="comments-container">
      <app-comments></app-comments>
      <app-comments></app-comments>
      <app-comments></app-comments>
    </div>
    <div class="form-container">
      <form>
        <label>Name:</label>
        <br>
        <input class="name" type="text">
        <br>
        <br>
        <label>Description:</label>
        <br>
        <input class="description" type="text">
        <br>
        <br>
        <input class="comment-btn" value="Comment" type="submit">
      </form>
    </div>
  </div>
</div>

