<h1 class="title">Learn how to code with Ironhack</h1>
<div class="header">
  <img src="http://lorempixel.com/1000/400" alt="">
  <p>In the second project of this lesson we are going to create a blog article with comments. We are going to create two different
  components: The MainComponent component will contain the article, composed of a title, an image, and a description. The CommentsComponent
  component, that will contain several comments (feel free to add as many comments as you want). At the bottom of the comments,
  we will add a comment form to add some reality to our article. We can't have comments without a form! (Don't worry, it doesn't
  need to work. We will get to that later). The first thing you will have to do is to generate the project with Angular CLI.</p>
</div>

<app-comments-component></app-comments-component>

