<section class="container">
  <h1>Learn how to code with Ironhack</h1>
  <img src="https://resources.stuff.co.nz/content/dam/images/1/g/b/d/l/y/image.related.StuffLandscapeSixteenByNine.620x349.1mhfsh.png/1509346105878.jpg" alt="Barcelona city">
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero sint enim repudiandae quasi eos, sit possimus deserunt, fugiat omnis, id iure ipsam. Totam provident consequuntur officiis minima neque omnis molestias. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero sint enim repudiandae quasi eos, sit possimus deserunt, fugiat omnis, id iure ipsam. Totam provident consequuntur officiis minima neque omnis molestias. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero sint enim repudiandae quasi eos, sit possimus deserunt, fugiat omnis, id iure ipsam. Totam provident consequuntur officiis minima neque omnis molestias!</p>
</section>
