
.container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
article{
  margin: 20px;
  background-color: whitesmoke;
  border:1px solid darkslategrey;
  width: 50vw;
  padding: 20px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 5px 0 darkslategray;
}
article:hover{
  transition:all 0.3s ease-in-out;
  transform:scale(1.02,1.02)
}
h2{
  text-align: center;
}
h3{
  color: darkslategrey;
  margin-left:20px
}
app-comments-component{
  margin:20px;
}