.championships{
    height: 400px;
    background-color: slateblue;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
img{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
h1,h2,h3{
    display: flex;
    justify-content: center;
}