.container {
  width: 100%;
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  .team {
    padding: 0 10px;
    width: 33.33%;
    img {
      max-width: 100%;
      height: 150px;
    }
    ul {
      list-style: none;
      li {
        &::before {
          content: "· ";
        }
      }
    }
  }
}
