<div class="bar">
  <h2>Comments</h2>
</div>
<section>
  <h3>Bobby Tables</h3>
  <p>Lorem fistrum nisi mamaar ese hombree laboris por la gloria de mi madre elit no puedor llevame al sircoo ese que llega nostrud</p>
</section>
<section>
  <h3>Ironhack School</h3>
  <p>Velit diodeno benemeritaar me cago en tus muelas eiusmod dolor caballo blanco caballo negroorl pecador reprehenderit.</p>
</section>
<div class="form">
  <form action="#">
    <h3>Add your comment</h3>
    <label for="name">Name:</label><br>
    <input type="text"><br>
    <label for="description">Description:</label><br>
    <input type="text"><br>
    <button>Comment</button><br>
  </form>
</div>
