#comment-bar{
    font-weight: bold;
    display: block;
    height: 20px;
    background-color: lightgrey;
    padding: 5px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
}

.comment{
    width: 45%;
    margin: 20px auto;
}

.comment span{
    margin-left: 2%;
}

form{
    width: 25%;
    background-color: lightgrey;
    margin: 0 auto;
    padding: 20px;
}

form h4{
    margin: 5px 0 15px 0;
}

form input{
    width: 100%;
}

form textarea{
    width: 100%;
    height: 50px;
}

#submit{
    width: 25%;
    background-color: black;
    color: white;
    padding: 10px;
}