<div class='comment-header'>
  <h2>Comments</h2>
</div>

<div class='comment-body'>
  <div class='comment'>
    <h3>Rick Sanchez</h3>
    <p>Everybody over thirty do this with your hand! Everybody with a red shirt jump up and down!</p>
  </div>
  <div class='comment'>
    <h3>Morty Smith</h3>
    <p>Hey listen, you know, if we're all bored over here, wouldn't the common denominator be you?</p>
  </div>
</div>

<div class='add-comment'>
  <h4>Add your comment</h4>
  <form>
    <div class='field'>
      <label>Name:</label>
      <input type='text' name='username'>
    </div>
    <div class='field'>
      <label>Description:</label>
      <textarea name='description'></textarea>
    </div>
    <div class='control'>
      <button type='submit'>Comment</button>
    </div>
  </form>
</div>