h2{
  background-color: #e2e2e2;
}
form {
  background-color: #D2CFC7;
  border-radius: 15px;
  width: 60%;
  text-align: left;
}
h1{
  text-align: center;
}

li{
  list-style: none;
  text-align: center;
  margin: 30px;
}
