h1 {
  text-align: center;
}

ul {
  text-align: left;
  color: gray;
  width: 90vw;
  margin: 0 auto;
  list-style-type: none;
}

.each-nation {
  width: 25vw;
  text-align: center;
  float: left;
  margin: 2vw;
  list-style-type: none;
}

.great-leaders {
  margin-top: 5vh;
}

.great-leaders p {
  list-style-type: disc;
}

img {
  height: 40vh;
}
