<h2>Comments</h2>
<div class="comments">
  <div class="comment">
    <span class="author">Yoda</span>
    <span class="date">02/01/2003</span>
    <span class="text">“You will know (the good from the bad) when you are calm, at peace. Passive. A Jedi uses the Force for knowledge and defense, never for attack.”</span>
  </div>
  <div class="comment">
    <span class="author">Morpheus</span>
    <span class="date">11/06/1999</span>
    <span class="text">This is your last chance. After this, there is no turning back. You take the blue pill - the story ends, you wake up in your bed and believe whatever you want to believe. You take the red pill - you stay in Wonderland and I show you how deep the rabbit-hole goes.</span>
  </div>
  <div class="comment">
    <span class="author">John Doe</span>
    <span class="date">22/11/2017</span>
    <span class="text">Angular is pretty damn flama!</span>
  </div>
</div>

<form>
  <span>Add your comment</span>
  <p class="label">Name</p>
  <input type="text" placeholder="Please enter a name.">
  <p class="label">Description</p>
  <textarea name="name" rows="8" cols="60" placeholder="Insert your comment"></textarea><br>
  <button>Comment</button>
</form>
