<div class="comments-">
  <h3 class="comments-title">Comments</h3>
  <p>
    <strong>{{user}}</strong> {{date}}</p>
  <p>{{comment}}</p>
</div>
<div class="new-comment">
  <form class="example-form">
    <h5><strong>Add your comment</strong></h5>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>
</div>
<div class="clear"></div>
