<br>
  <h4> Comments </h4>
      <br>
    <div>
    <p><b> Jessica Jones </b> - <i>07/11/2017</i></p>
      <p> This website is the best. </p>
    </div>
    <div>
    <p><b> Kevin from Iron Hack </b> - <i>07/11/2017</i></p>
      <p> I learned Python here! </p>
    </div>
    <hr>
    <br>
      <div class="row">
        <div class="col-md-8 comment">
            <h3>Add your comments:</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls index2">
                        <label class="index2">Name:</label>
                        <br>
                        <input type="text" class="form-control" id="name" required data-validation-required-message="Please enter your name.">
                    </div>
                </div>
                <br>
                <div class="control-group form-group">
                    <div class="controls index2">
                        <label class="index2">Comment:</label>
                        <br>
                        <textarea rows="10" cols="100" class="form-control2" id="message" required data-validation-required-message="Please enter your message" maxlength="999" style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
                <br>
                <button type="submit" class="btn">Send Message</button>
            </form>
        </div>
<br>
    </div>
<hr>
<ul>
  <li>
    <a target="_blank" href="https://learnpythonthehardway.org/book/"> Python </a>
  </li>
  <span> ⇠ ⇠ </span>
  <li>
    <a target="_blank" href="https://learncodethehardway.org/c/"> C </a>
  </li>
    <span> ⇢ ⇢ </span>
  <li>
    <a target="_blank" href="https://learncodethehardway.org/javascript/"> Javascript </a>
  </li>
</ul>
