<header class="container">
    <h1 class="text-center">
      Learn how to code with Ironhack
    </h1>
</header>

<main>
    <div class="container-fluid">
        <div class="text-center">
          <img src="http://www.telegraph.co.uk/content/dam/Travel/Destinations/Europe/Spain/Madrid/madrid-overview-sunsetovermadrid-xlarge.jpg">
          <br>
          <p>ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae cumque voluptas ipsa illo inventore, porro iste alias soluta voluptatem nobis, praesentium illum at, ut qui eum officiis laborum animi asperiores.
          </p>  
        </div>
    </div>

    
</main>