body {
    background-color: #efefef;
    font-family: arial, Tahoma;
}

label,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="email"],

select {
    display: block;
    margin: 8px;
}

input[type="radio"] {
    display: inline;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 200px;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}

fieldset {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 20px;
    width: 50%;
    margin: auto;
}

legend {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 20px;
}


hr {
    margin: 10px 0;
    color: #ccc;
    opacity: 0.4;
}

textarea {
    height: 100px;
    width: 250px;
}