    <br>
    <hr>
    
    <div class="global">

     <h4>COMENTS</h4>
    <div>
      <b class="userName">{{usuario1}}:</b><p>es simplemente el texto de rel de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió
        500 años, sino que tambien ingresó como texto de relleno</p>
    </div>

    <div>
        <b class="userName">{{usuario2}}:</b><p>es simplemente el texto ló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió
          500 años, sino que tambien ingresó como texto de relleno</p>
      </div>    
      
      <div>
          <b class="userName">{{usuario3}}:</b><p>es simplemente el texto de reo texto de relleno</p>
        </div>
  </div>