/* You can add global styles to this file, and also import other style files */
.row {
  display: flex;
  flex-direction: row;
}
.block {
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}
