<h1>
  {{title}}

</h1>
<p>
  {{description}}
</p>
<img src="{{image}}" width="400">


<div class="container">
  <div class="tittle-form">
    <h2>{{title2}}</h2>
 </div>
    <form>

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="content">Content</label>
        <input type="textarea" class="form-control" required cols="100" rows="200">
      </div>



      <button type="submit" class="btn btn-default">Submit</button>
    </form>

</div>

<h1></h1>
<h1></h1>
