/* You can add global styles to this file, and also import other style files */
.container {
  display:block;
  text-align: center;
  width: 100%;
}

.champions {
  display: inline-block;
  margin: 0 auto;
  width: 30%;
  text-align: center;
}
ul {
  width: 30%;
  margin: 0 auto;
}
li {
  text-align: left;
}
img {
  height: 150px;
}