<!DOCTYPE html>

<h1>NBA</h1>
<section>
<div>
  <h3>2015-16</h3>
  <h3>cleveland cavaliers</h3>
  <img src="{{img1}}" alt="" width="300">
  <h5>best players</h5>
  <ul>
    <li>lebron james</li>
    <li>kyrie irving</li>
    <li>kavin love</li>
    <li>jr smith</li>
    <li>anderson varejao</li>
  </ul>
</div>
<div>
  <h3>2014-15</h3>
  <h3>golden state warriors</h3>
  <img src="{{img2}}" alt="" width="300">
  <h5>best players</h5>
  <ul>
    <li>stephen curry</li>
    <li>klay thompson</li>
    <li>draymong green</li>
    <li>andrew bogut</li>
    <li>gestus</li>
    <li>gestus ezeli</li>
  </ul>
</div>
<div>
  <h3>2013-14</h3>
  <h3>san antonio spurs</h3>
  <img src="{{img3}}" alt="" width="300">
  <h5>best playes </h5>
  <ul>
    <li>tim duncan</li>
    <li>tony parker</li>
    <li>manu ginobili</li>
    <li>kawhi leonard</li>
    <li>tiago splitter</li>
  </ul>
</div>
</section>