<div class="container">
  <h2>Comments</h2>
  <br>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="media">
        <div class="media-left">
          <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          
          <!-- Nested media object -->
          <div class="media">
            <div class="media-left">
              <img src="https://www.w3schools.com/bootstrap/img_avatar2.png" class="media-object" style="width:45px">
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

              <!-- Nested media object -->
              <div class="media">
                <div class="media-left">
                  <img src="https://www.w3schools.com/bootstrap/img_avatar3.png" class="media-object" style="width:45px">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">John Doe <small><i>Posted on February 19, 2016</i></small></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
              </div>
              
            </div>
          </div>
          
        </div>
      </div>
    </div>
    
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"></div>   
  </div> 
</div>