img {
  max-height: 350px;
  max-width: 350px;
}

ul li {
  text-align: left;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  text-align: center;
}

.champion-card {
  display: inline-block;
  margin: 0 auto;
  max-width: 500px;
  margin: 0 20px;
}

h2, h3, h4 {
  text-align: center;
}
