h1{
  text-align: center;
}

.teams{
  float: left;
  list-style: none;
  text-align: center;
  margin: 30px;
  list-style: none;
}

li{
  list-style: none;
}

.champion{
  display: flex;
  justify-content: space-around;
}
