img {
    height:100;
    margin:1%
}

.container {
 display: flex-wrap;
 flex-direction: row;
 text-align: center;
 justify-content: center   
}

div {
    display: flex;
    flex-direction: column;
    margin: auto
}