<!-- <h1>
  {{title}}
</h1> -->

<header class="container">
  <h1 class="text-center">
    Photo Album
  </h1>
</header>

<main>
  <div class="row">
    <div class="col-xs-4">
      <div class="text-center">
        <img src="http://dummy-images.com/abstract/dummy-454x280-Goemetry.jpg">
        <p>A view of the rock</p>
      </div>
    </div>

    <div class="col-xs-4">
        <div class="text-center">
          <img src="http://dummy-images.com/abstract/dummy-480x270-FairyLights.jpg">
          <p>Image1</p>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="text-center">
          <img src="http://dummy-images.com/abstract/dummy-320x180-DesiccationCracks.jpg">
          <p>Image2</p>
        </div>
    </div>
  </div>
</main>
