<h1>
  Photo Album
</h1>
<div class="container-picture1">
  <img id="picture1" width="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4OBZnq1PqXmR-vmoyJDD_yyBPVlwdFIGm-JrW7ki7s_oE9MCCOA">
  <p>Freelancing - Example 1 </p>
</div>

<div class="container-picture2">
  <img id="picture2" width="300" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQs1iiNGkd3FPcgE3kXVzgMH62uqTYiZ2sRjizgwjC6XC8bidxi">
  <p>Meeting Prep'Up - Example 2</p>
</div>

<div class="container-picture3">
  <img id="picture3" width="300" src="https://images.theconversation.com/files/182840/original/file-20170821-28104-7rodu7.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip">
  <p>TeleWorking - Example 3</p>
</div>