
<body>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="images">
    <img width="300" alt="Angular Logo" src="https://as1.ftcdn.net/jpg/01/93/30/04/500_F_193300479_edY2pF9zBip3fBW4fgtf6ytBAlq9F0Qj.jpg">
    <h2>{{ironhackMa}}</h2>
  </div>
  <div class="images">
    <img width="300" alt="Angular Logo" src="https://comps.canstockphoto.es/oficina-trabajando-programadores-imagen-comercialmente-disponible_csp47089561.jpg">
    <h2>{{ironhackBa}}</h2>
  </div>
  <div class="images">
    <img width="300" alt="Angular Logo" src="http://spanish.peopledaily.com.cn/NMediaFile/2015/1116/FOREIGN201511161441000560149334611.png">
    <h2>{{ironhackMi}}</h2>
  </div>
</body>
