h1{
  text-align: center;
  font-size: 86px;
}


ul{
  list-style: none;
}

.list{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.list-item img{
   width: 285px;
   margin: 5px;
}

.list-item2 img{
   width: 300px;
   margin: 5px;
}

.list-item3 img{
   width: 315px;
   margin: 5px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}