.comments {
  background-color: #ececec;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto;
  font-weight: bold;
  padding: 5px 0;
  text-indent: 10px;
  font-size: 18px;
}

.comment-box {
  background-color: #ececec;
  max-width: 500px;
  border: .5px solid #c1bfbf;
  margin: 50px auto;
  padding: 5px 20px;
  margin-bottom: 50px;
}

#name-box {
  width: 480px;
}

input {
  margin-bottom: 20px;
}

.comment-name {
  font-weight: bold;
}

ul li {
  list-style-type: none;
  margin: 0 auto;
  max-width: 820px;
}


#name {
  width: 500px;
}

button {
  background-color: #525252;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 0;
}
