<div class="container">
  <h4 class="commentTitle">Comments </h4>
  <div class="row">
    <ul>
      <li *ngFor="let comment of comments">
        <comment-item [comment]="comment"></comment-item>
      </li>
    </ul>
  </div>
</div>


<div class="row commentMainBox">
  <div class="col-sm-12 commentBox">
    <h4 class="addCommentTitle">Add your comment</h4>
    <form>
      <div class="form-group">
        <label for="authorName"> Your name</label>
        <input type="text" class="form-control" [(ngModel)]="newComment.authorName" [ngModelOptions]="{standalone: true}">
        <br>
        <div class="form-group">
          <label for="authorComment"> Add your Comment</label>
          <input type="text" class="form-control" [(ngModel)]="newComment.authorComment" [ngModelOptions]="{standalone: true}">
        </div>
        <button class="btn btn-primary" (click)="addComment(newComment.authorName, newComment.authorComment)"> Submit comment </button>
      </div>
    </form>
  </div>
</div>