ul {
  list-style-type: none;
}

.commentBox {
  background-color: #C5C2C2;
}

.commentMainBox {
  margin: auto;
  width: 50%;
}

.commentTitle {
  background-color: #C5C2C2;
  border-radius: 30px;
  padding: 5px 0px 5px 20px;
}

.addCommentTitle {
  padding: 5px 0px 5px 0px;  
}