.column {
  text-align: center;
  float: left;
  width: 20%;
  margin: 0 50px;
}

.img {
  margin: 0 auto;
  position: relative;
  width: 150px;
  height: 150px;
}

.img img {
  width: 100%;
}

.column ul {
  text-align: left;
  margin: 0 auto;
  width: 45%;
}
