<div class="container">
<article>
  <h1>This is the Title</h1>
  <div class="picture">
    <img src="assets/1.jpg" alt="1">
  </div>
  <p>The aircraft involved was an ATR 72-212, MSN 391, registration EP-ATS, delivered to Iran Aseman Airlines in 1993. No serious incidents were recorded during the 24 years the aircraft was in airline's fleet.[5][6]

    An Iranian news website reported that the aircraft had recently resumed operations, after remaining out of service for seven years due to lack of spare parts. Roozarooz news reported: "The plane which crashed today faced technical problems midair during a recent flight a few weeks ago." It was also claimed that an Instagram post from Aseman Airlines two months ago, that announced the plane was back in service after seven years, had been deleted on the same morning that the plane had crashed.[2]
    
    At the time of the accident, Aseman had 6 ATR aircraft among its fleet of 29. Three of the ATRs were in operation.[2]
    
    Veteran pilot, Capt Hojjatallah Foulad, was acclaimed for saving the lives of his passengers in 2013 by making an emergency landing at Yasuj Airport after an engine failed while flying the same type of aircraft.[2]</p>
</article>
</div>