<div class="container">
    <h3> {{title}} </h3>
</div>
<div class="container">
  <div *ngFor="let comment of comments">
    <div>      
      <h4>{{comment.name}}</h4>    
      <h5>{{comment.date}}</h5>
      <h5>{{comment.time}}</h5>
    </div>    
      <p>{{comment.description}}</p>    
  </div>
</div>
<div class="container">
  <div>
    <form action="/" method="post">
      <h4>Add your comment </h4>
      <div>
        <label for="name-input"> Name: </label>       
        <input type="name" name="name" id="name-input" placeholder="">        
      </div>
      <div>
        <label for="name-input"> Description: </label>
        <div>
          <textarea rows="10" cols="60" name="answer" placeholder="Enter answer here..."></textarea>
        </div>
      </div>
        <button type="submit"> Comment </button>
    </form>
  </div>
</div>