.main-picture
  background: url('https://www.ironhack.com/assets/images/index/Ironhack_frame.jpg')
  background-repeat: no-repeat
  background-size: cover
  height: 50vh
p
  margin-bottom: 50px
h1
  margin-bottom: 50px
div
  margin-bottom: 20px

.comments
  border-radius: 25px
  padding: 10px 40px
  background-color: #ddd
  height: auto
  h3
    text-align: left
