   <div class="row">
    <div class="col-sm">
      <img class="img-places" src="./../../assets/img/cadaques-838724_1920.jpg" alt="cadaques">
      <br><br>
      <span> Cadaqués</span>
    </div>
    <div class="col-sm">
      <img class="img-places" src="./../../assets/img/girona.jpg" alt="girona">
      <br><br>
      <span>Girona</span>
    </div>
    <div class="col-sm">
      <img class="img-places" src="../../assets/img/beach-sea-coast.jpg" alt="costa brava">
      <br><br>
      <span>Costa Brava</span>
    </div>
  </div> 
