<div class="photo-album">
  <div class="row">
    <div class="col-sm-12">
      <div class="thumbnail">
        <img src="assets/office1.gif">
        <div class="caption">
          <p>Office 1</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <img src="assets/office2.gif">
      <div class="caption">
        <p>Office 2</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      <img src="assets/office3.gif">
      <div class="caption">
        <p>Office 3</p>
      </div>
    </div>
  </div>
</div>
</div>
