<h3>Comments</h3>
<div class="comment">
  <h4>Rafael G.</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolores illum porro dolorem dolor necessitatibus inventore et nobis incidunt dolorum.</p>
</div>
<div class="comment">
  <h4>Juan Perez</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati qui assumenda, commodi accusamus provident impedit. Veritatis officiis sequi nostrum voluptas!</p>
</div>
<form action="">
  <h4>Add your comment</h4>
  <p>
    <input type="text" name="name" id="" placeholder="Name">
  </p>
  <p>
    <textarea name="comment" id="" cols="30" rows="10" placeholder="Comment"></textarea>
  </p>
  <button>Comment</button>
</form>

