.form-comment-container {
  margin:20px;
  padding: 20px;
  width: 500px;
  background-color: whitesmoke;
}
.form-row {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.new-comment-button {
  background-color: dimgrey;
  color: white;
  height: 30px;
  width: 100px;
}