/* You can add global styles to this file, and also import other style files */
img {
  width: 200px;
}

.teams {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container {
  text-align: center;
}

.players-list {
  text-align: justify;
}

li{
  margin-bottom: 5px;
}