<header class="hero">
  <div class="hero-title">
    Learn how to code with Ironhack
  </div>
</header>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatem eligendi aperiam exercitationem laboriosam error blanditiis minus totam harum, consequatur sapiente architecto. Nisi explicabo sint commodi necessitatibus possimus temporibus unde.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatem eligendi aperiam exercitationem laboriosam error blanditiis minus totam harum, consequatur sapiente architecto. Nisi explicabo sint commodi necessitatibus possimus temporibus unde.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatem eligendi aperiam exercitationem laboriosam error blanditiis minus totam harum, consequatur sapiente architecto. Nisi explicabo sint commodi necessitatibus possimus temporibus unde.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptatem eligendi aperiam exercitationem laboriosam error blanditiis minus totam harum, consequatur sapiente architecto. Nisi explicabo sint commodi necessitatibus possimus temporibus unde.
</p>