<img src="/assets/life.jpeg" width="700" height="400"/>
<hr>
<h2> 🚀 About us 🚀 </h2>
<p>
  1. "Most good programmers do programming not because they expect to get paid or get adulation by the public, but because it is fun to program."
  - Linus Torvalds
  <br><br>
  2. "Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live."
  - Martin Golding
  <br><br>
  3. “There are two ways of constructing a software design. One way is to make it so simple that there are obviously no deficiencies. And the other way is to make it so complicated that there are no obvious deficiencies.”
  - C.A.R. Hoare
  <br><br>
</p>
<hr>
